@media only screen and (max-width:800px) and (min-width: 481px){

#logo{
	float:none;
}

#sm-box{
	margin:0 auto;
	width:200px;
	float:none;
}

#hero-container{
	overflow:scroll;
}

#hero{
	background-color:green;
	float:left;
	width:100%;
}

#hero-side-box{
	display:hidden;
}

.feature-block{
	width:100%;
}

.feature-block-wide{
	width:100%;
}

#inside-pic{
		background-color:green;
}

}